.header {
    background-color: black;
    display: flex;
    height: 70px;
}

.header h1{
    align-self: center;
    color: white;
    margin: 0;
}

.header__logo {
    background-color: white;
    height: 70px;
    margin-right: 20px;
}